<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SoloDMX</title>
  <script src="../angular.min.js"></script>
  
  
  <script src="../node_modules/angular-hotkeys/build/hotkeys.min.js"></script>
  <script src="../app.js"></script>
  <script src="../engine/universe.js"></script>
  <script src="../engine/patch.js"></script>
  <script src="../engine/channels.js"></script>
  <script src="../engine/scene.js"></script>
  <script src="../engine/chase.js"></script>
  <script src="../engine/file.js"></script>
  <script src="../engine/input.js"></script>
  
  <link rel="stylesheet" type="text/css" href="style.css">
  
</head>
<body ng-app="sDMXapp" ng-controller="mainCtrl">
<a href="test.html" target="_blank">test page</a><input type="checkbox" ng-model="programmode" ng-init="false"><input type="checkbox" ng-model="editMode" ng-init="false">
<button ng-click="showDumpScene = true">test</button>
<button ng-click="save()">Save</button>
<button ng-click="load()">Load</button>
<label><input type="radio" ng-model="appMode" ng-value="'main'">Control</label>
<label><input type="radio" ng-model="appMode" ng-value="'programming'">Program</label>
<button ng-click="patch.addDevice(0,1,5)">add device</button>
<div class="programmingui" ng-include="'programming.html'" ng-show="appMode == 'programming'"></div>
<div class="main" ng-if="appMode == 'main'" ng-include="'main.html'"></div>
<div id="dumpSceneWrapper">
<div id="dumpScene" ng-if="showDumpScene">
  <input type="text" ng-model="dumpSceneName"><button ng-click="dumpScene(dumpSceneName)">Dump</button><button ng-click="showDumpScene = false">Cancel</button>
</div>
</div>
</body>
</html>