<div class="buttons">
  <div class="button" ng-repeat="button in buttons" ng-mousedown="toggleButton($index)" ng-mouseup="releaseButton($index)" ng-class="{btnactive: button.running == true, btninactive: button.running == false}">{{button.label}} - {{button.running}}</div>
</div>
 

 <div id="mainInputs">
  <div class="mainInput" ng-repeat="item in inputs.main" ng-click="toggleEditor('main', $index)">{{item.label}} - {{item.v}}: {{item.function.name}}<input type="text" ng-model="item.v" style="display:none"></div>
</div>
<div id="apcInputs">
  <div class="apcInput" ng-repeat="item in inputs.apc" ng-click="toggleEditor('apc', $index)">{{item.label}} - {{item.v}}: {{item.function.name}}</div>
</div>



<div id="editInputs" ng-repeat="(group, item) in inputs">
  <div class="editInput" ng-repeat="input in item" ng-if="input.showEditor">
    <input type="text" ng-model="input.label"><br>
    <label><input type="radio" ng-model="input.function.mode" value="m">Channel</label>
    <label><input type="radio" ng-model="input.function.mode" value="s">Scene</label>
    <label><input type="radio" ng-model="input.function.mode" value="c">Chase</label>
    <div ng-show="input.function.mode == 'm'">
      <select ng-model="input.function.id">
        <option ng-repeat="device in patch.devices" ng-value="$index">{{device.name}}</option>
      </select>
      <select ng-model="input.function.cap" ng-change="input.function.name = patch.devices[input.function.id].name + ':' + input.function.cap">
        <option ng-repeat="(key, cap) in patch.devices[input.function.id].channels" ng-value="{{key}}">{{key}}</option>
      </select>
    </div>
    <div ng-show="input.function.mode == 's'">
      <select ng-model="input.function.id" ng-init="input.function.id" ng-change="input.function.name = scenes.scenes[input.function.id].name">
        <option ng-repeat="scene in scenes.scenes" ng-value="$index">{{scene.name}}</option>
      </select>
    </div>
    <div ng-show="input.function.mode == 'c'">
      <select ng-model="input.function.id" ng-input="input.function.id" ng-change="input.function.name = chases.chases[input.function.id].name">
        <option ng-repeat="chase in chases.chases" ng-value="$index">{{chase.name}}</option>
      </select>
    </div>
    <button class="close" ng-click="toggleEditor(group, $index)">Close</button>
  </div>
</div>
<div id="editButtons">
  <div class="editButton" ng-repeat="button in buttons" ng-if="button.showEditor">
    <input type="text" ng-model="button.label"><label><input type="checkbox" ng-model="button.flash">flash mode</label><br>
    <label><input type="radio" ng-model="button.function.mode" value="m">Channel</label>
    <label><input type="radio" ng-model="button.function.mode" value="s">Scene</label>
    <label><input type="radio" ng-model="button.function.mode" value="tc">Chase</label>
    <label><input type="radio" ng-model="button.function.mode" value="nc">Go</label>
    <div ng-show="button.function.mode == 'm'">
      <select ng-model="button.function.id">
        <option ng-repeat="device in patch.devices" ng-value="$index">{{device.name}}</option>
      </select>
      <select ng-model="button.function.cap">
        <option ng-repeat="(key, cap) in patch.devices[button.function.id].channels" ng-value="{{key}}">{{key}}</option>
      </select>
      <input type="text" ng-model="button.function.fade">
    </div>
    <div ng-show="button.function.mode == 's'">
      <select ng-model="button.function.id">
        <option ng-repeat="scene in scenes.scenes" ng-value="$index">{{scene.name}}</option>
      </select>
    </div>
    <div ng-show="button.function.mode == 'tc'">
      <select ng-model="button.function.id">
        <option ng-repeat="chase in chases.chases" ng-value="$index">{{chase.name}}</option>
      </select>
    </div>
    <div ng-show="button.function.mode == 'nc'">
      <select ng-model="button.function.id">
        <option ng-repeat="chase in chases.chases" ng-value="$index">{{chase.name}}</option>
      </select>
    </div>
    <button class="close" ng-click="toggleButton($index)">Close</button>
  </div>
</div>
<script src="jquery.min.js"></script>
<script>
  
</script>