html{
  background-color:#444;
  color:#eee;
}

body{
  margin:0;
  padding:0;
}

#mainInputs{
  width:100%;
  position:fixed;
  bottom:0;
  left:0;
}

.mainInput{
  border:1px solid #eee;
  width:8.332%;
  height:50px;
  float:left;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#apcInputs{
  width:100%;
  position:fixed;
  bottom:100px;
  right:0;
}

.apcInput{
  border: 1px solid #eee;
  width:11.110%;
  margin:0;
  box-sizing:border-box;
  height:40px;
  float:left;
}

.editInput, .editButton, #dumpScene{
  pointer-events:all;
  float:left;
  background-color:#444;
  border:#eee 2px solid;
}

#editInputs, #editButtons, #dumpSceneWrapper{
position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  pointer-events:none;
}

.buttons .button{
  width:5%;
  height:40px;
  float:left;
  box-sizing: border-box;
}

.buttons .btnactive{
  border:green 2px solid;
}
.buttons .btninactive{
  border:gray 2px solid;
}