<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="../angular.min.js"></script>
  <script src="../node_modules/angular-hotkeys/build/hotkeys.min.js"></script>
  <script src="../app.js"></script>
  <script src="../engine/universe.js"></script>
  <script src="../engine/patch.js"></script>
  <script src="../engine/channels.js"></script>
  <script src="../engine/scene.js"></script>
  <script src="../engine/chase.js"></script>
  <script src="../engine/file.js"></script>
  <script src="../engine/input.js"></script>  
</head>
<body ng-app="sDMXapp" ng-controller="mainCtrl">
  <div ng-repeat="device in patch.devices">
    <input type="range" min="0" max="255" ng-repeat="(key, channel) in device.channels" ng-model="sliders[$parent.$index][$index]" ng-change="setChannelManually($parent.$index, $index, key)">
  </div>
  <input type="checkbox" value="htp" name="htp" ng-model="testing">
  {{testing}}
  <button ng-repeat="scene in scenes.scenes" ng-click="scenes.toggleScene($index)">{{scene.name}}: {{scene.running}}</button>
  
  <div>
    <input type="range" min="0" max="255" ng-repeat="scene in scenes.scenes" ng-model="sceneSliders[$index]" ng-change="scenes.setScene($index, sceneSliders[$index])">
  </div>
  <button ng-click="chases.startChase(0, null);">c0</button>
  <button ng-click="chases.stopChase(0);">c0 stop</button>
  <button ng-click="chases.nextStep(0);">next</button>
  <button ng-click="console.log(inputUniverse)">inputs</button>
  <button ng-click="scenes.dumpToScene()">dump</button>
  <br>
  <button ng-click="files.save()">save</button><button ng-click="files.load()">load</button>
 <div>
   {{inputUniverse}}
 </div>
</body>
</html>